/* main body */
body {
  background-color: rgb(172, 171, 171);
 
  font-family: "inherit", sans-serif !important;

}

/* title  */

#nav_bar_inp {
  width: 100%;
  height: 80%;
  border-radius: 50px 50px;
  border-color: aliceblue;
}
.icon {
  display: flex;
  justify-content: space-evenly;
}
#nav_bar_btn {
  height: 100%;
  width: 10%;
  border-radius: 100px 100px;
  border-color: aliceblue;
}

.title {
  color: rgb(80, 74, 74);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_title {
  display: flex;
  justify-content: space-evenly;
  float: left;
  font-family: "Sofia", sans-serif !important;
}

/* nev-bar */
.nev-bar {
  border-color: black;
  background-color: rgb(194, 186, 186);
  border-radius: 10px 10px 10px 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: end;
  font-family: "Sofia", sans-serif !important;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: transparent;
}

/* circumfarance calculater */
.calculater_1 {
  height: 100%;
  background-color: rgb(194, 186, 186);
  border-radius: 8px 8px;
}
#circle {
  color: rgb(80, 74, 74);
 text-align: center;
}
#count {
 text-align: center;
  color: rgb(80, 74, 74);
  font-weight: 100%;
}
.birthday {
  text-align: center;
  color: rgb(80, 74, 74);
  font-weight: 100%;
}
#percent {
  color: rgb(80, 74, 74);
  font-weight: 100%;
}
.button_2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
.update{
  display: flex;
  justify-content: center;
}
#radius {
  text-align: center;
  border-color: aliceblue;
}
.calculater_1_h3 {
  text-align: center;
}
#circumfarance {
  width: 30%;
  height: 100%;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
}

/* even-odd number identifier */
.calculater_3 {

  height: 100%;
  background-color: rgb(194, 186, 186);
  text-align: center;
  border-radius: 8px 8px;
}
#even_odd {
  width: 10%;
  height: 100%;
  margin-top: 2%;
  text-align: center;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
}
#num {
  width: 10%;
  margin-bottom: 2px;
  border-radius: 10px 10px;
  text-align: center;
  border-color: aliceblue;
}
.calculater_3_h3 {
  text-align: center;
}

.material-symbols-outlined {
  text-align: center;
}

.calculater_6 {
  margin-top: 2%;
  height: 100%;
  background-color: rgb(194, 186, 186);
  border-radius: 8px 8px;
  text-align: center;
}
#percentage {
  width: 100%;
  height: 10%;
  text-align: center;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
}
#value {
  text-align: center;
  border-color: aliceblue;
}
#totalvalue {
  border-color: aliceblue;
}
.calculater_6_h3 {
  text-align: center;
}

/* time calculater */
.calculater_8 {
  margin-top: 1%;
  height: 100%;
  background-color: rgb(194, 186, 186);
  border-color: aliceblue;
  /* background-color: rgb(59, 59, 59); */
  border-radius: 8px 8px;
  text-align: center;
  padding-bottom: 2%;
}
#min {
  width: 40%;
  height: 100%;
  margin-top: 2%;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
  text-align: center;
}
#hour {
  width: 40%;
  height: 100%;
  margin-top: 2%;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
  text-align: center;
}
#Day {
  width: 40%;
  height: 100%;
  margin-top: 2%;
  border-radius: 10px 10px;
  background-color: rgb(172, 171, 171);
  border-color: aliceblue;
  text-align: center;
}
#sec {
  text-align: center;
  border-color: aliceblue;
}
#Min {
  text-align: center;
  border-color: aliceblue;
}
#Hour {
  text-align: center;
  border-color: aliceblue;
}
