body {
  background-color: rgb(172, 171, 171);
  /* background-color: rgb(87, 85, 85); */
  /* font-family:'Ubuntu', sans-serif !important; */
  font-family: "inherit", sans-serif !important;
  /* font-family: "Sofia", sans-serif !important; */
}

/* title  */
.sec_line {
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: grey;
  padding-top: 3%;
  border-radius: 8px 8px;
}
#nav_bar_inp {
  width: 850px;
  height: 45px;
  border-radius: 50px 50px;
  border-color: aliceblue;
}
.icon {
  display: flex;
  justify-content: space-evenly;
}
#nav_bar_btn {
  height: 50px;
  width: 45px;
  border-radius: 100px 100px;
  margin-left: 2%;
  border-color: aliceblue;
}

.title {
  color: rgb(80, 74, 74);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_title {
  display: flex;
  justify-content: space-evenly;
  margin-top: -2%;
  margin-left: -85%;
  font-family: "Sofia", sans-serif !important;
  font-size: 30px;
}
/* nev-bar */
.nev-bar {
  border-color: black;
  background-color: rgb(194, 186, 186);
  /* background-color: rgb(59, 59, 59); */
  border-radius: 10px 10px 10px 10px;
  margin-top: -3%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: end;
  margin-top: 5px;
  font-family: "Sofia", sans-serif !important;
}
li {
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: black;
  /* color: aliceblue; */
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: transparent;
}
.calculate-marks {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.calculate-marks input {
  height: 20px;
  width: 100px;
  margin-left: 10px;
  border-radius: 8px 8px;
  border-color: aquamarine;
}
.calculate-percentage {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.calculate-percentage input {
  height: 20px;
  width: 100px;
  margin-left: 10px;
  border-radius: 8px 8px;
  border-color: aquamarine;
}
.calculate-percentage button {
  margin-left: 1%;
  border-color: aliceblue;
}
.calculate-marks button {
  margin-left: 1%;
  border-color: aliceblue;
}
.text {
  text-align: center;
}
.screen {
  height: 30px;
  width: 100px;
  background-color: rgb(172, 171, 171);
  margin-left: 50%;
  border-radius: 8px 8px;
  border-color: aliceblue;
}
.UI {
  margin-top: 2%;
  background-color: rgb(80, 74, 74);
  color: white;
  border-radius: 10px 10px;
  padding: 2px 0px 0px 2px;
  width: 800px;
  height: 500px;
  margin-left: 20%;
  border-color: aquamarine;
}
