.outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-wrap: wrap;
    padding: 40px 0px; 
    display: flex;
    justify-content: center; 
    background-color: yellow;
}
