.title{
    color: rgb(80, 74, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_title{
    display: flex;
    justify-content: space-evenly;
    margin-top: -2%;
    margin-left: -85%;
    font-family: "Sofia", sans-serif !important;
    font-size: 30px;

}
/* nev-bar */
.nev-bar{
    border-color: black;
    background-color: rgb(194, 186, 186);
    /* background-color: rgb(59, 59, 59); */
    border-radius: 10px 10px 10px 10px;
    margin-top: -3%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-left: 75%;
    margin-top: 5px;
    font-family: "Sofia", sans-serif !important;
  }    
li {
    float: left;
  }
      
li a {
    display: block;
    color: black;
    /* color: aliceblue; */
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: transparent;
}

